.aside {
	grid-area: Aside;
	/* background-color: red; */
	position: relative;
}

.aside-list {
	position: absolute;
	top: 4%;
	left: 0;
}

.aside-list a:link,
a:visited,
a:hover,
a:active {
	color: #000000;
	text-decoration: none;
}

.container-list {
	text-decoration: none;
	list-style: none;
}
.list-item {
	display: flex;
	align-items: baseline;
	gap: 15px;
	justify-content: space-between;
}
