.header {
	background-color: #8412fb;
	color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.lista-favoritos {
	cursor: pointer;
}
