.container-propiedades {
	display: grid;
	gap: 20px;
	margin: 45px 0px;
	grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
	align-content: center;
	justify-content: center;
}

@media (max-width: 736px) {
	.container-propiedades {
		grid-template-columns: repeat(auto-fill, minmax(380px, 540px));
		padding: 0 5px;
	}
}
